#c2c-unsaved-changes-btn {
  color: red;
  font-weight: bold;
}

.modal-body p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
}

.c2c-modal-title {
  font-weight: bolder;
  font-size: 16.5px;
}

.c2c-modal-icon-section {
  height: 35px;
}

.c2c-modal-icons {
  width: fit-content;
  float: right;
  span {
    display: inline-block;
  }
}

.c2c-modal-icon {
  background-repeat: no-repeat;
  height: 17px;
  width: 19px;
  margin: 5px;
  cursor: pointer;
  color: #363636;
  display: block;
}

.c2c-check-icon {
  background-position: -3px -701px;
  &:hover {
    background-position: -3px -680px;
  }
}

.c2c-exit-icon {
  background-position: -3px -462px;
  &:hover {
    background-position: -3px -440px;
  }
}
